.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    background: #ffffff;
    border: 10px;
    .header{
        height: 62px;
        line-height: 62px;
        text-align: left;
        padding:0px 20px;
        box-sizing: border-box;
        font-family: Alibaba PuHuiTi 2.0;
        font-size: 20px;
        font-weight: normal;;
        letter-spacing: 0px;
        color: #1D2129;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search{
        width: 100%;
        height: 112px;
        display: flex;
        flex-direction: row;
        .left{
           height: 100%;
           width: calc(100% - 112px);
           box-sizing: border-box;
           padding: 0px 20px;
           display: flex;
           flex-direction: column;
           justify-content: space-around;
        }
        .right{
            width: 112px;
            height: 100%;
            display: flex;
            flex-direction: column;
            width: 112px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;
            padding-right: 20px;
            box-sizing: border-box;
        }
    }
    .table_header{
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      padding: 0px 20px;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
      .left{
        display: flex;
        justify-content: center;
        align-items: center;
        .title{
            font-family: Alibaba PuHuiTi 2.0;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -0.07px;
            color: #1D2129;
            height: 60px;
            line-height: 60px;
            margin-left: 18px;
        }
      }
    }
    .table{
        width: 100%;
        height: calc(100% - 234px);
        padding: 0px 20px;
        box-sizing: border-box;
        .table_content{
            width: 100%;
            height: calc(100% - 50px);
        }
        .table_pagination{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
}



.search_btn{
    background: #165DFF;
    border-color: #165DFF;
    width: 84px;
    font-family: Alibaba PuHuiTi 2.0;
    letter-spacing: 0px;
}

.reset_btn{
    width: 84px;
    font-family: Alibaba PuHuiTi 2.0;
    letter-spacing: 0px;
    color: #4E5969;
    background: #F2F3F5;
    border-color: #F2F3F5;
}

.tips_btn{
    width: 153px;
    font-family: Alibaba PuHuiTi 2.0;
    letter-spacing: 0px;
    height: 38px;
    line-height: 38px;
    color: #FFFFFF;
    background: #FF8127;
    border-color: #FF8127;
    font-size: 14px;
}

:deep(.left .el-form){
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

:deep(.left .el-form-item){
    height: 32px;
    line-height: 32px;
    margin-bottom: 0px
}

:deep(.left .el-input){
    width: 256px;
}

:deep(.left .el-input__wrapper, .el-select__wrapper){
    height: 32px;
    line-height: 32px;
    background: #F7F8FA;
}

:deep(.left .el-select__wrapper){
    height: 32px;
    line-height: 32px;
    background: #F7F8FA;
}

:deep(.left .el-select){
    width: 256px;
}

:deep(.left .el-range-editor.el-input__wrapper){
    box-sizing: border-box;
    width: 256px;
}

:deep(.el-table  th.el-table__cell){
    background: #F7F8FA !important;
}


