.main{
    width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 10px;
    .header{
        height: 112px;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        border-radius: 10px;
        .title{
            height: 50px;
            line-height: 50px;
            width: 100%;
            font-family: Alibaba PuHuiTi;
            font-size: 16px;
            font-weight: normal;
            letter-spacing: 0px;
            color: #1D2129;
            padding-left: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-right: 20px;
            .btn{
                border-radius: 2px;
                background: #165DFF;
                color: #ffffff;
                font-size: 14px;
                font-family: Alibaba PuHuiTi;
                font-weight: normal;
                letter-spacing: 0px;
            }
        }
        .step{
            width: 100%;
            height: 62px;
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            .item{
                width: auto;
                height: 28px;
                display: flex;
                box-sizing: border-box;
                cursor: pointer;
                .num{
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    border-radius: 14px;
                    background: #F2F3F5;
                    text-align: center;
                    color: #4E5969;
                    letter-spacing: 0px;
                    font-weight: normal;
                    font-size: 16px;
                    font-family: Alibaba PuHuiTi;
                }
                .num_selected{
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    border-radius: 14px;
                    text-align: center;
                    background: #165DFF;
                    color:#FFFFFF;
                    letter-spacing: 0px;
                    font-weight: normal;
                    font-size: 16px;
                    font-family: Alibaba PuHuiTi;
                    text-align: center;
                    cursor: pointer;
                }
                .name{
                    font-family: Alibaba PuHuiTi;
                    font-size: 16px;
                    font-weight: normal;
                    letter-spacing: 0px;
                    color: #a8abb2;
                    height: 28px;
                    line-height: 28px;
                    margin-left: 12px;
                }
                .name_selected{
                    font-family: Alibaba PuHuiTi;
                    font-size: 16px;
                    font-weight: normal;
                    letter-spacing: 0px;
                    color: #1D2129;
                    height: 28px;
                    line-height: 28px;
                    margin-left: 12px;
                }
            }
        }
    }
    .problem_report_info{
        margin-top: 15px;
        width: 100%;
        height: 350px;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 4px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        .title{
            height: 24px;
            line-height: 24px;
            width: 100%;
            font-family: Alibaba PuHuiTi;
            font-size: 16px;
            font-weight: normal;
            letter-spacing: 0px;
            color: #1D2129;
            .titleDateTime{
                margin-left: 20px;
                color: red;
            }
        }
        .main_field{
            height: 108px;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 6px 0px;
            padding: 0px 20px;
            box-sizing: border-box;
            justify-content: space-around;
            .row_field{
                height: 36px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .field{
                    width: 200px;
                    height: 36px;
                    line-height: 36px;
                    white-space: nowrap;
                    .label{
                        font-family: Alibaba PuHuiTi;
                        font-size: 14px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: #4E5969;
                    }
                    .value{
                        font-family: Alibaba PuHuiTi;
                        font-size: 14px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: #1D2129;
                    }
                    .status1{
                        font-family: Alibaba PuHuiTi;
                        font-size: 14px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: red;
                    }
                    .view{
                        font-family: Alibaba PuHuiTi;
                        font-size: 14px;
                        font-weight: normal;
                        letter-spacing: -0.07px;
                        color: #165DFF;
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }
                
            }
        }
        .other_field{
            height: 72;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 6px 0px;
            padding: 0px 20px;
            box-sizing: border-box;
            justify-content: space-around;
            .row_field{
                height: 36px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .field{
                    width: 200px;
                    height: 36px;
                    line-height: 36px;
                    white-space: nowrap; /* 文本不换行 */
                    .label{
                        font-family: Alibaba PuHuiTi;
                        font-size: 14px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: #4E5969;
                    }
                    .value{
                        font-family: Alibaba PuHuiTi;
                        font-size: 14px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: #1D2129;
                    }
                    .status1{
                        font-family: Alibaba PuHuiTi;
                        font-size: 14px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: #EA0000;
                    }
                }
            }
        }
        .table{
            width: 100%;
            height: calc(100% - 224px);
            padding-top: 20px;
            box-sizing: border-box;
        }
    }
    .related_documents{
        background-color: #ffffff;
        margin-top: 15px;
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 0px 20px;
        .title{
            height: 70px;
            line-height: 70px;
            width: auto;
            font-family: Alibaba PuHuiTi;
            font-size: 16px;
            font-weight: normal;
            letter-spacing: 0px;
            color: #1D2129;
        }
        .btn{
            background: #AAAAAA;
            border: 1px solid #979797;
            height: 24px;
            line-height: 24px;
            width: auto;
            color: #FFFFFF;
            font-family: Alibaba PuHuiTi;
            font-size: 12px;
            font-weight: normal;
            letter-spacing: 0px;
            margin-left: 25px;
        }
        .view{
            color: #165DFF;
            font-size: 14px;
            font-family: Alibaba PuHuiTi;
            font-weight: normal;
            margin-left: 25px;
            cursor: pointer;
        }
    }
    .action_list{
        width: 100%;
        height: 32px;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        margin: 16px 0px 16px 0px;
        padding-left: 16px;
        .left{
             display: flex;
             justify-content: center;
             align-items: center;
             .initiate_comments{
                margin-left: 8px;
                cursor: pointer;
                font-family: Alibaba PuHuiTi;
                font-size: 14px;
                font-weight: normal;
                letter-spacing: 0px;
                font-feature-settings: "kern" on;
                color: #3D3D3D;
             }
             .initiate_comments:hover{
                 color: #165DFF;;
             }
        }
    }
    .comment{
       width: 100%;
       height: 128px;
       background-color: #ffffff;
       border-radius: 10px;
       position: relative;
       display: flex;
       flex-direction: column;
       .userinfo{
         width: 100%;
         height: 40px;
         display: flex;
         justify-content: flex-start;
         align-items: center;
         box-sizing: border-box;
         padding-left: 18px;
         z-index: 99;
         .username{
             margin-left: 8px;
             font-family: Alibaba PuHuiTi;
             font-size: 14px;
             font-weight: normal;
             letter-spacing: 0px;
             color: rgba(0, 0, 0, 0.5);
         }
       }
       .content{
            height: 30px;
            line-height: 30px;
            width: 100%;
            box-sizing: border-box;
            font-family: Alibaba PuHuiTi 2;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0px;
            color: rgba(0, 0, 0, 0.8);
            padding-left: 18px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
       }
       .date{
           width: 100%;
           height: 24px;
           line-height: 24px;
           padding-left: 18px;
           font-family: Alibaba PuHuiTi;
           font-size: 12px;
           font-weight: normal;
           letter-spacing: 0px;
           color: rgba(0, 0, 0, 0.8);
       }
       .reply{
            position: absolute;
            right: 55px;
            bottom: 2px;
            cursor: pointer;
            font-family: Alibaba PuHuiTi;
            font-size: 14px;
            font-weight: normal;
            line-height: 40px;
            letter-spacing: 0px;
            font-feature-settings: "kern" on;
            color: #3D3D3D;
        }
       .tips{
            width: 24px;
            height: 24px;
            position: absolute;
            right: 18px;
            bottom: 8px;
            cursor: pointer;
       }
    }

    .comment::before{
        content: "";
        position: absolute;
        top: -15px;
        left: 20px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 40px solid #ffffff;
        transform: rotate(45deg);
    }
}

.showMainDialog{
    .step{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .item{
            width: auto;
            height: 28px;
            display: flex;
            box-sizing: border-box;
            .num{
                width: 28px;
                height: 28px;
                line-height: 28px;
                border-radius: 14px;
                background: #F2F3F5;
                text-align: center;
                color: #4E5969;
                letter-spacing: 0px;
                font-weight: normal;
                font-size: 16px;
                font-family: Alibaba PuHuiTi;
                cursor: pointer;
            }
            .num_selected{
                width: 28px;
                height: 28px;
                line-height: 28px;
                border-radius: 14px;
                text-align: center;
                background: #165DFF;
                color:#FFFFFF;
                letter-spacing: 0px;
                font-weight: normal;
                font-size: 16px;
                font-family: Alibaba PuHuiTi;
                text-align: center;
                cursor: pointer;
            }
            .name{
                font-family: Alibaba PuHuiTi;
                font-size: 16px;
                font-weight: normal;
                letter-spacing: 0px;
                color: #4E5969;
                height: 28px;
                line-height: 28px;
                margin-left: 12px;
                position: relative;
                .remark{
                   position: absolute;
                   font-family: Alibaba PuHuiTi;
                   font-size: 12px;
                   height: 20px;
                   line-height: 20px;
                   color: #86909C;
                   left: 0;
                   bottom: -20px;
                   white-space: nowrap;
                }
            }
        }
    }
    .form_row{
       height: 32px;
       line-height: 32px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 18px 0px;
       .label{
          font-family: Alibaba PuHuiTi;
          font-size: 14px;
          font-weight: normal;
          color: #4E5969;
          letter-spacing: 0px;
          width: 80px;
          text-align: right;
          margin-right: 10px;
       }
       .required::before{
           content: "*";
           color: red;
       }
    }

    .form_row_shengji{
        height: 32px;
        line-height: 32px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 18px 0px;
        .label{
           font-family: Alibaba PuHuiTi;
           font-size: 14px;
           font-weight: normal;
           color: #4E5969;
           letter-spacing: 0px;
           width: 120px;
           text-align: right;
           margin-right: 10px;
        }
        .required::before{
            content: "*";
            color: red;
        }
     }

    .desc_action{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 32px;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0px 10px;
        margin-top: 10px;
        .desc{
            font-family: Alibaba PuHuiTi;
            font-size: 16px;
            font-weight: normal;
            letter-spacing: 0px;
            font-variation-settings: "opsz" auto;
            font-feature-settings: "kern" on;
            color: #525252;
        }
        .btn{
            height: 32px;
            line-height: 32px;
            color: #ffffff;
            background: #165DFF;
            font-family: Alibaba PuHuiTi;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0px;
            padding: 0px 20px;
        }
    }
    .search{
        width: 100%;
        height: 50px;
        line-height: 50px;
        box-sizing: border-box;
        padding-left: 10px;
    }
    .filter_list{
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .responsibilityPerson{
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .label{
            font-family: Alibaba PuHuiTi;
            font-size: 14px;
            font-weight: normal;
            color: #4E5969;
            letter-spacing: 0px;
            width: 80px;
            text-align: right;
            margin-right: 10px;
         }
         .required::before{
             content: "*";
             color: red;
         }

    }
    .containerUpload{
        width: 300px !important;
        margin-left: 40px;
        // height: 10px;
        // position: absolute;
        // left: 115px;
        // bottom: 200px;
        // display: none;
        // float: right;
    }
    .table{
        width: 100%;
        height: 210px;
        box-sizing: border-box;
        padding: 0px 10px;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
    }
}


:deep(.showMainDialog .el-dialog){
    margin: 10px auto;
    height: 95%;
}

:deep(.showMainDialog .el-dialog__header){
    font-family: Alibaba PuHuiTi;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #1D2129;
}

:deep(.form_row .el-input){
    width: 366px;
    height: 32px;
    line-height: 32px;
 }


:deep(.showMainDialog .el-input__wrapper){
    // background: #F2F3F5;
    height: 32px;
    line-height: 32px;
}


:deep(.search .el-input__wrapper){
    background: #ffffff;
    width: 175px;
    padding: 0px 11px !important;
}

:deep(.search .el-input){
    width: 175px;
    height: 32px;
    line-height: 32px;
}

:deep(.filter_list .el-select__wrapper){
    width: 175px;
    height: 32px;
    line-height: 32px;
}

:deep(.filter_list .el-select){
    width: 175px;
    height: 32px;
    line-height: 32px;
}

:deep(.responsibilityPerson .el-select + .el-select){
   margin-left: 12px;
}

:deep(.responsibilityPerson .el-select__wrapper){
    width: 175px;
    height: 32px;
    line-height: 32px;
}

:deep(.responsibilityPerson .el-select){
    width: 175px;
    height: 32px;
    line-height: 32px;
}

:deep(.responsibilityPerson .el-select + .el-select){
   margin-left: 12px;
}


:deep(.showMainDialog .el-dialog__footer){
    text-align: center !important;
    width: 100%;
    position: absolute;
    bottom: 30px;
}


:deep(.el-table  th.el-table__cell){
    background: #F7F8FA !important;
}

.main .comment{
    margin-bottom: 18px;
}

.primary_btn{
    background: #165DFF;
    width: 148px;
}

.cancel_btn{
    width: 148px;
    background: #D8D8D8;
    font-family: Alibaba PuHuiTi;
    letter-spacing: 0px;
    color: #ffffff;
    border-color: #D8D8D8;
}

.showMainDialog2{
    .title{
       width: 100%;
       height: 30px;
       font-family: Roboto;
       font-size: 18px;
       font-weight: 500;
       line-height: 30px;
       display: flex;
       align-items: center;
       letter-spacing: 0px;
       font-feature-settings: "kern" on;
       color: #3D3D3D;
       box-sizing: border-box;
       margin-top: 10px;
       padding-left: 10px;
    }
    .content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        box-sizing: border-box;
        .item{
            display: flex;
            flex-direction: column;
            margin-top: 12px;
            .label{
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0px;
                font-feature-settings: "kern" on;
                color: #979797;
                margin-bottom: 5px;
            }
            .label::before{
                content: "*";
                color: red;
            }
            .upload{
                height: 130px;
            }
            .el-upload-dragger{
                padding: 0px !important;
            }
        }
    }
}

.deliveryOrderDialog{
    .step{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .item{
            width: auto;
            height: 28px;
            display: flex;
            box-sizing: border-box;
            .num{
                width: 28px;
                height: 28px;
                line-height: 28px;
                border-radius: 14px;
                background: #F2F3F5;
                text-align: center;
                color: #4E5969;
                letter-spacing: 0px;
                font-weight: normal;
                font-size: 16px;
                font-family: Alibaba PuHuiTi;
                cursor: pointer;
            }
            .num_selected{
                width: 28px;
                height: 28px;
                line-height: 28px;
                border-radius: 14px;
                text-align: center;
                background: #165DFF;
                color:#FFFFFF;
                letter-spacing: 0px;
                font-weight: normal;
                font-size: 16px;
                font-family: Alibaba PuHuiTi;
                text-align: center;
                cursor: pointer;
            }
            .name{
                font-family: Alibaba PuHuiTi;
                font-size: 16px;
                font-weight: normal;
                letter-spacing: 0px;
                color: #4E5969;
                height: 28px;
                line-height: 28px;
                margin-left: 12px;
                position: relative;
                .remark{
                   position: absolute;
                   font-family: Alibaba PuHuiTi;
                   font-size: 12px;
                   height: 20px;
                   line-height: 20px;
                   color: #86909C;
                   left: 0;
                   bottom: -20px;
                   white-space: nowrap;
                }
            }
            .name_selected{
                font-family: Alibaba PuHuiTi;
                font-size: 16px;
                font-weight: normal;
                letter-spacing: 0px;
                color: #1D2129;
                height: 28px;
                line-height: 28px;
                margin-left: 12px;
                position: relative;
                .remark{
                   position: absolute;
                   font-family: Alibaba PuHuiTi;
                   font-size: 12px;
                   height: 20px;
                   line-height: 20px;
                   color: #86909C;
                   left: 0;
                   bottom: -20px;
                   white-space: nowrap;
                }
            }
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
        .custom_item{
            width: 30px;
            margin-left: 10px;
            position: absolute;
            left: 300px;
            bottom: -5px;
            // border: 1px solid red;
        }
    }
}

:deep(.deliveryOrderDialog .el-dialog){
    margin: 10px auto;
    height: 650px;
}

:deep(.deliveryOrderDialog .el-dialog__header){
    font-family: Alibaba PuHuiTi;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #1D2129;
}

:deep(.deliveryOrderDialog .el-input){
   width: 300px;
}

:deep(.deliveryOrderDialog .el-input__wrapper){
    background: #F2F3F5;
}

:deep(.deliveryOrderDialog .el-form){
    display: flex;
    flex-direction: column;
    align-items: center;
}

:deep(.deliveryOrderDialog .customLayout){
    flex-direction: column;
    align-items: flex-start;
}

:deep(.deliveryOrderDialog .el-textarea){
    width: 390px;
}

:deep(.deliveryOrderDialog .el-textarea__inner){
    background: #F2F3F5;
}

:deep(.deliveryOrderDialog .el-dialog__footer){
    text-align: center !important;
    position: absolute;
    width: 100%;
    bottom: 20px;
}

:deep(.deliveryOrderDialog .el-checkbox__inner){
    width: 18px;
    height: 18px;
}

:deep(.deliveryOrderDialog .el-checkbox__input.is-checked .el-checkbox__inner){
    background-color: #165DFF;
}

:deep(.deliveryOrderDialog .el-checkbox__inner::after){
    width: 6px;
    top: 2px;
    border-width: 2px;
}

.check_item{
    width: 100%;
}
:deep(.check_item .el-form-item__label){
    width: auto !important;
}

:deep(.deliveryOrderDialog .el-select__wrapper){
    background: #F2F3F5;
    width: 300px;
}

:deep(.deliveryOrderDialog .el-upload-list--picture-card){
    flex-wrap: nowrap;
}


:deep(.deliveryOrderDialog .el-upload--picture-card){
    width: 80px !important;
    height: 80px !important;
}

:deep(.deliveryOrderDialog .el-upload-list__item){
    width: 80px !important;
    height: 80px !important;
}

:deep(.showMainDialog2 .el-dialog){
    margin: 10px auto;
    height: 600px;
}

:deep(.showMainDialog2 .el-dialog__header){
    display: none;
}


:deep(.showMainDialog2 .el-input__wrapper){
    background: #F2F3F5;
}

:deep(.showMainDialog2 .el-dialog__footer){
    text-align: center !important;
    width: 100%;
    position: absolute;
    bottom: 30px;
}

:deep(.showMainDialog2 .content .el-select__wrapper){
    height: 40px;
    line-height: 40px;
}

:deep(.showMainDialog2 .content .el-input){
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
}

:deep(.showMainDialog2 .content .el-input__wrapper){
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
}

:deep(.showMainDialog2 .content .el-upload-dragger){
   padding: 0px !important;
   height: 80px;
   line-height: 80px;
}


:deep(.showMainDialog2 .content .el-icon--upload){
    display: none;
 }


 ////////////////////////////////


:deep(.relatedDocumentsDialog .el-dialog){
    margin: 10px auto;
    height: 650px;
}


:deep(.relatedDocumentsDialog .el-dialog__header){
    font-family: Alibaba PuHuiTi;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #1D2129;
}

:deep(.relatedDocumentsDialog .el-dialog__body){
    height: calc(100% - 42px);
    width: 100%;
}

:deep(.relatedDocumentsDialog .content){
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .tableItem{
        display: flex;
        flex-direction: column;
        .tableTitle{
            width: 100%;
            height: 32px;
            line-height: 32px;
            font-family: Alibaba PuHuiTi;
            font-size: 16px;
            font-weight: normal;
            letter-spacing: 0px;
            color: #1D2129;
        }
    }
    .tableItem + .tableItem{
       margin-top: 16px;
    }
}



:deep(.relatedDocumentsDialog .el-input){
   width: 300px;
}

:deep(.relatedDocumentsDialog .el-input__wrapper){
    background: #F2F3F5;
}

:deep(.relatedDocumentsDialog .el-form){
    display: flex;
    flex-direction: column;
    align-items: center;
}

:deep(.relatedDocumentsDialog .customLayout){
    flex-direction: column;
    align-items: flex-start;
}

:deep(.relatedDocumentsDialog .el-textarea){
    width: 390px;
}

:deep(.relatedDocumentsDialog .el-textarea__inner){
    background: #F2F3F5;
}

:deep(.relatedDocumentsDialog .el-dialog__footer){
    text-align: center !important;
    position: absolute;
    width: 100%;
    bottom: 20px;
}

:deep(.relatedDocumentsDialog .el-checkbox__inner){
    width: 18px;
    height: 18px;
}

:deep(.relatedDocumentsDialog .el-checkbox__inner::after){
    width: 6px;
    top: 2px;
}


:deep(.el-table  th.el-table__cell){
    background: #F7F8FA !important;
}


.status{
    width: 60px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
    background: #FF8127;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: Alibaba PuHuiTi;
    font-size: 12px;
    font-weight: normal;
}
  
.statusing{
    width: 60px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
    background: #0256FF;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: Alibaba PuHuiTi;
    font-size: 12px;
    font-weight: normal;
}

.statused{
    width: 60px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
    background: #767676;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: Alibaba PuHuiTi;
    font-size: 12px;
    font-weight: normal;
}

.custom_upload{
    width: 390px;
    height: 100px;
  }

  .avatar-uploader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
