.main{
    width: 100%;
    height: calc(100% - 26px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    background: #ffffff;
    border: 10px;
    .header{
        height: 62px;
        line-height: 62px;
        text-align: left;
        padding:0px 20px;
        box-sizing: border-box;
        font-family: Alibaba PuHuiTi;
        font-size: 20px;
        font-weight: normal;;
        letter-spacing: 0px;
        color: #1D2129;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search{
        width: 100%;
        height: 112px;
        display: flex;
        flex-direction: row;
        .left{
           height: 100%;
           width: calc(100% - 112px);
           box-sizing: border-box;
           padding: 0px 20px;
           display: flex;
           flex-direction: column;
           justify-content: space-around;
        }
        .right{
            width: 112px;
            height: 100%;
            display: flex;
            flex-direction: column;
            width: 112px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;
            padding-right: 20px;
            box-sizing: border-box;
        }
    }
    .table_header{
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      padding: 0px 20px;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
      .left{
        display: flex;
        justify-content: center;
        align-items: center;
        .title{
            font-family: Alibaba PuHuiTi;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -0.07px;
            color: #1D2129;
            height: 60px;
            line-height: 60px;
            margin-left: 18px;
        }
      }
    }
    .table{
        width: 100%;
        height: calc(100% - 234px);
        padding: 0px 20px;
        box-sizing: border-box;
        .table_content{
            width: 100%;
            height: calc(100% - 50px);
        }
        .table_pagination{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
}



.search_btn{
    background: #165DFF;
    border-color: #165DFF;
    width: 84px;
    font-family: Alibaba PuHuiTi;
    letter-spacing: 0px;
}

.reset_btn{
    width: 84px;
    font-family: Alibaba PuHuiTi;
    letter-spacing: 0px;
    color: #4E5969;
    background: #F2F3F5;
    border-color: #F2F3F5;
}

.tips_btn{
    width: 153px;
    font-family: Alibaba PuHuiTi;
    letter-spacing: 0px;
    height: 38px;
    line-height: 38px;
    color: #FFFFFF;
    background: #FF8127;
    border-color: #FF8127;
    font-size: 14px;
}

:deep(.left .el-form){
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

:deep(.left .el-form-item){
    height: 32px;
    line-height: 32px;
    margin-bottom: 0px
}

:deep(.left .el-input){
    width: 256px;
}

:deep(.left .el-input__wrapper, .el-select__wrapper){
    height: 32px;
    line-height: 32px;
    background: #F7F8FA;
}

:deep(.left .el-select__wrapper){
    height: 32px;
    line-height: 32px;
    background: #F7F8FA;
}

:deep(.left .el-select){
    width: 256px;
}

:deep(.left .el-range-editor.el-input__wrapper){
    box-sizing: border-box;
    width: 256px;
}

:deep(.el-table  th.el-table__cell){
    background: #F7F8FA !important;
}

.problemReportingDialog{
    .step{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .item{
            width: auto;
            height: 28px;
            display: flex;
            box-sizing: border-box;
            .num{
                width: 28px;
                height: 28px;
                line-height: 28px;
                border-radius: 14px;
                background: #F2F3F5;
                text-align: center;
                color: #4E5969;
                letter-spacing: 0px;
                font-weight: normal;
                font-size: 16px;
                font-family: Alibaba PuHuiTi;
                cursor: pointer;
            }
            .num_selected{
                width: 28px;
                height: 28px;
                line-height: 28px;
                border-radius: 14px;
                text-align: center;
                background: #165DFF;
                color:#FFFFFF;
                letter-spacing: 0px;
                font-weight: normal;
                font-size: 16px;
                font-family: Alibaba PuHuiTi;
                text-align: center;
                cursor: pointer;
            }
            .name{
                font-family: Alibaba PuHuiTi;
                font-size: 16px;
                font-weight: normal;
                letter-spacing: 0px;
                color: #4E5969;
                height: 28px;
                line-height: 28px;
                margin-left: 12px;
                position: relative;
                .remark{
                   position: absolute;
                   font-family: Alibaba PuHuiTi;
                   font-size: 12px;
                   height: 20px;
                   line-height: 20px;
                   color: #86909C;
                   left: 0;
                   bottom: -20px;
                   white-space: nowrap;
                }
            }
            .name_selected{
                font-family: Alibaba PuHuiTi;
                font-size: 16px;
                font-weight: normal;
                letter-spacing: 0px;
                color: #1D2129;
                height: 28px;
                line-height: 28px;
                margin-left: 12px;
                position: relative;
                .remark{
                   position: absolute;
                   font-family: Alibaba PuHuiTi;
                   font-size: 12px;
                   height: 20px;
                   line-height: 20px;
                   color: #86909C;
                   left: 0;
                   bottom: -20px;
                   white-space: nowrap;
                }
            }
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
    }
}



////////////////////////////
:deep(.problemReportingDialog .el-dialog){
    margin: 10px auto;
    height: 650px;
}


:deep(.problemReportingDialog .el-dialog__header){
    font-family: Alibaba PuHuiTi;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #1D2129;
}

:deep(.problemReportingDialog .el-input){
   width: 300px;
}

:deep(.problemReportingDialog .el-select__wrapper){
    width: 300px;
    background: #F2F3F5;
 }


:deep(.problemReportingDialog .el-input__wrapper){
    background: #F2F3F5;
}

:deep(.problemReportingDialog .el-form){
    display: flex;
    flex-direction: column;
    align-items: center;
}

:deep(.problemReportingDialog .customLayout){
    flex-direction: column;
    align-items: flex-start;
}

:deep(.problemReportingDialog .el-textarea){
    width: 390px;
}

:deep(.problemReportingDialog .el-textarea__inner){
    background: #F2F3F5;
}

:deep(.problemReportingDialog .el-dialog__footer){
    text-align: center !important;
    position: absolute;
    width: 100%;
    bottom: 20px;
}

:deep(.problemReportingDialog .el-checkbox__inner){
    width: 18px;
    height: 18px;
}

:deep(.problemReportingDialog .el-checkbox__inner::after){
    width: 6px;
    top: 2px;
}

:deep(.problemReportingDialog .el-upload-list--picture-card){
    flex-wrap: nowrap;
}

:deep(.problemReportingDialog .el-upload--picture-card){
    width: 80px !important;
    height: 80px !important;
}

:deep(.problemReportingDialog .el-upload-list__item){
    width: 80px !important;
    height: 80px !important;
}

.primary_btn{
    background: #165DFF;
    width: 148px;
}

.cancel_btn{
    width: 148px;
    background: #F0F0F0;
    font-family: Alibaba PuHuiTi;
    letter-spacing: 0px;
    color: #4E5969;
}

.custom_upload{
    width: 390px;
    height: 100px;
}


  
.avatar-uploader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

